.body{

}
.prod{
    border: solid gainsboro 1px;
    margin: 5px;
    padding: 5px;
}
img{
    width: 200px;
    height:200px;
}
h3{
    font-size: medium;
}
b{
    margin-bottom: 5px;
}
p{
    text-align: center;
}
.article{
    margin-bottom: 15px;
    border: solid gainsboro 1px;
    padding: 10px;
}
.droitehaut{
    margin-bottom: 15px;
}
.apayer{
    padding: 10px;
    border-radius: 5px;
    background-color:tomato;
    border: solid red 1px;
    color: aliceblue;
    font-size: larger;
    text-align: center;
}