body{
    font-family: Arial, Helvetica, sans-serif;
}
form{
    padding-left: 50px;
}
p{
    padding-left: 50px;
}
.hide{
    display: none;
}
.show{
    display: block;
}
img{
    width: 200px;
    margin-left: 100px;
}
.valide{
    background-color: rgba(128, 255, 0, 0.5);
}
.invalide{
    background-color: rgba(220, 20, 60, 0.5);
}
span{
    line-height: 20px;
    text-align: center;
    font-weight:600;
}